IBKR_USERNAME=your_paper_username
IBKR_PASSWORD=your_paper_password

IBKR_HOST=ib-gateway
IBKR_PORT=4002
IBKR_CLIENT_ID=7
SANITY_SYMBOL=F

MAX_TRADE_NOTIONAL_USD=200
MAX_GROSS_EXPOSURE_USD=200
MAX_OPEN_POSITIONS=30

ALLOW_LONG=true
ALLOW_SHORT=true
